version: '3.8'

services:
  backend:
    build:
      context: ./backend
      Dockerfile: Dockerfile
    ports:
      - '8000:8000'
    depends_on:
      - db
      - redis

  frontend:
    build:
      context: ./frontend
      Dockerfile: Dockerfile
    ports:
      - '3000:3000'

  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:6
    restart: always

volumes:
  postgres_data:
